In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [8]:
directory = "Datasets/QS"
data_2018 = pd.read_csv(directory+"/2018-QS-World-University-Rankings.csv", encoding='unicode_escape')
data_2019 = pd.read_csv(directory+"/2019-QS-World-University-Rankings.csv", encoding='unicode_escape')
data_2020 = pd.read_csv(directory+"/2020-QS-World-University-Rankings.csv", encoding='unicode_escape')

In [10]:
display(data_2018)

,2018,2017,Institution Name,Country,Classification,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Academic Reputation,...,Unnamed: 12,Faculty Student,Unnamed: 14,Citations per Faculty,Unnamed: 16,International Faculty,Unnamed: 18,International Students,Unnamed: 20,Overall Score
0,NaN,NaN,NaN,NaN,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,NaN
1,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5,B,100,...,4,100,14,99.9,8,100,36,96.1,70,100
2,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5,B,100,...,5,100,12,99.4,12,99.6,54,72.7,177,98.7
3,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5,B,100,...,3,98.3,38,99.9,9,96.5,103,75.2,165,98.4
4,4,5,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5,B,99.5,...,77,100,3,100,4,93.4,126,89.2,106,97.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,NaN,NaN,WHU OTTO BEISHEIM SCHOOL OF MANAGEMENT - KOBLENZ,Germany,S,SP,VH,3,NaN,-,...,-,-,-,-,-,-,-,-,-,-
981,Source: QS Intelligence Unit (www.topuniversit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,You may not reconfigure the data or content in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,Under no circumstances should data be re-order...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,NaN,NaN,Find the rankings methodology on www.iu.qs.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN