In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

In [11]:
directory = "Datasets/QS"
data_2018 = pd.read_csv(directory+"/2018-QS-World-University-Rankings.csv", encoding='unicode_escape')
data_2019 = pd.read_csv(directory+"/2019-QS-World-University-Rankings.csv", encoding='unicode_escape')
data_2020 = pd.read_csv(directory+"/2020-QS-World-University-Rankings.csv", encoding='unicode_escape')

In [14]:
data_2018.head()

,2018,2017,Institution Name,Country,Classification Size,Focus,Research Intensity,Age,Status,Academic Reputation Score,...,Employer Reputation Rank,Faculty Student Score,Faculty Student Rank,Citations per Faculty Score,Citations per Faculty Rank,International Faculty Score,International Faculty Rank,International Students Score,International Students Rank,Overall Score
0,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,14,99.9,8,100,36,96.1,70,100
1,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,5,100,12,99.4,12,99.6,54,72.7,177,98.7
2,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,3,98.3,38,99.9,9,96.5,103,75.2,165,98.4
3,4,5,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,99.5,...,77,100,3,100,4,93.4,126,89.2,106,97.7
4,5,4,UNIVERSITY OF CAMBRIDGE,United Kingdom,L,FC,VH,5.0,A,100,...,1,100,10,78.3,75,97.4,87,97.7,57,95.6

In [20]:
ranks_2017=data_2018['2017']
ranks_2017

0        1
1        2
2        3
3        5
4        4
      ...
979    NaN
980    NaN
981    NaN
982    NaN
983    NaN
Name: 2017, Length: 984, dtype: object

In [28]:
data_2018=data_2018.drop(columns=['2017'])
data_2019=data_2019.drop(columns=['2018'])
data_2020=data_2020.drop(columns=['2019'])

print("2018 RANKING")
print(data_2018.isnull().sum(axis = 0))
print("2019 RANKING")
print(data_2019.isnull().sum(axis = 0))
print("2020 RANKING")
print(data_2020.isnull().sum(axis = 0))

2018 RANKING
2018                            22
Institution Name                 3
Country                          4
Classification Size              4
Focus                           15
Research Intensity              16
Age                             25
Status                          22
Academic Reputation Score        4
Academic Reputation Rank         4
Employer Reputation Score        4
Employer Reputation Rank         4
Faculty Student Score            4
Faculty Student Rank             4
Citations per Faculty Score      5
Citations per Faculty Rank       5
International Faculty Score     10
International Faculty Rank      10
International Students Score     5
International Students Rank      5
Overall Score                    4
dtype: int64
2019 RANKING
2019                            22
Institution Name                 3
Country                          4
Classification Size              4
Focus                            4
Research Intensity               4
Age                              4
Status                           4
Academic Reputation Score        4
Academic Reputation Rank         4
Employer Reputation Score        6
Employer Reputation Rank         4
Faculty Student Score            4
Faculty Student Rank             4
Citations per Faculty Score      4
Citations per Faculty Rank       4
International Faculty Score     61
International Faculty Rank      11
International Students Score    17
International Students Rank      5
Overall Score                    4
dtype: int64
2020 RANKING
2020                            22
Institution Name                 0
Country                          0
Classification Size              0
Focus                           23
Research Intensity              24
Age                             23
Status                          42
Academic Reputation Score        0
Academic Reputation Rank         0
Employer Reputation Score        0
Employer Reputation Rank         0
Faculty Student Score            0
Faculty Student Rank             0
Citations per Faculty Score      0
Citations per Faculty Rank       0
International Faculty Score     46
International Faculty Rank       5
International Students Score     6
International Students Rank      1
Overall Score                    0
dtype: int64

In [81]:
indexes_2018=[]
indexes_2019=[]
indexes_2020=[]

for i in range(len(data_2018)):
    if data_2018.iloc[i].isnull().sum()>=15:
        indexes_2018.append(i)
for i in range(len(data_2019)):
    if data_2019.iloc[i].isnull().sum()>=15:
        indexes_2019.append(i)
for i in range(len(data_2020)):
    if data_2020.iloc[i].isnull().sum()>=15:
        indexes_2020.append(i)

for i in indexes_2018:
    data_2018=data_2018.drop(index=i)
for i in indexes_2019:
    data_2019=data_2019.drop(index=i)
for i in indexes_2020:
    data_2020=data_2020.drop(index=i)
    
data_2018

,2018,Institution Name,Country,Classification Size,Focus,Research Intensity,Age,Status,Academic Reputation Score,Academic Reputation Rank,...,Employer Reputation Rank,Faculty Student Score,Faculty Student Rank,Citations per Faculty Score,Citations per Faculty Rank,International Faculty Score,International Faculty Rank,International Students Score,International Students Rank,Overall Score
0,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,6,...,4,100,14,99.9,8,100,36,96.1,70,100
1,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,5,...,5,100,12,99.4,12,99.6,54,72.7,177,98.7
2,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,1,...,3,98.3,38,99.9,9,96.5,103,75.2,165,98.4
3,4,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,99.5,22,...,77,100,3,100,4,93.4,126,89.2,106,97.7
4,5,UNIVERSITY OF CAMBRIDGE,United Kingdom,L,FC,VH,5.0,A,100,2,...,1,100,10,78.3,75,97.4,87,97.7,57,95.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,NaN,"UNIVERSITÃ DE TECHNOLOGIE, COMPIÃGNE (UTC)",France,S,SP,VH,3.0,A,-,-,...,-,-,-,-,-,-,-,-,-,-
976,NaN,"UNIVERSITY OF CALIFORNIA, SAN FRANCISCO (UCSF)",United States,S,SP,VH,5.0,A,-,-,...,-,-,-,-,-,-,-,-,-,-
977,NaN,"UNIVERSITY OF ECONOMICS, PRAGUE",Czech Republic,L,SP,VH,4.0,A,-,-,...,-,-,-,-,-,-,-,-,-,-
978,NaN,WEIZMANN INSTITUTE OF SCIENCE,Israel,S,FO,VH,4.0,A,-,-,...,-,-,-,-,-,-,-,-,-,-
979,NaN,WHU OTTO BEISHEIM SCHOOL OF MANAGEMENT - KOBLENZ,Germany,S,SP,VH,3.0,NaN,-,-,...,-,-,-,-,-,-,-,-,-,-